body {
    width: 100%;  
    margin: 0;
    padding: 0;     
    min-width: 320px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #110303;
    background-color: rgb(134, 7, 7);
}

/* HEADER*/
header{
	position: fixed;
	width: 100%;
    background: rgba(7, 7, 7, 0.3);    
}

.main-top{
    margin:0 auto; 
}

.logo{
    padding: 5px 0 5px 40px;
    float:left;
    margin: 0;
    align-items: center;
}

.menu{
    margin-top: 30px;
    float:right;
    padding-right: 80px;
	min-height:100%; 
    margin: 0;
    margin-top: 13px;
}

.menu li{
	float:left; 
	margin-right:50px; 
	font-size:1.5em; 
    list-style-type: none;
}

.menu li a{
	text-decoration:none;
    color: aqua; 
    font-weight: 600;
}

.menu li a:hover{
	color:#eb0524;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}
/* MAIN */

.content{
    padding: 10px; 
 }
 
 .cutaway{
     position: fixed;
     top: 66px;
     width: 18%;  
     float: left;          
     border: 3px solid #09a010;
     border-radius: 6px;
     box-shadow: #fff;
 }
 
 .author img{
     width: 100%;
 }
 
 .author h1{
     margin: 15px auto;
     text-align: center;
     color:goldenrod;
 }
 
 .contacts h2{
     margin: 15px auto;
     text-align: center;
     color: gold;
 }
 
 .contacts li{
     list-style-type: none;
     float: left;
     margin-right: 20px;
     margin-bottom: 10px;
     border: 2px solid #f7f7f7;
     background-color: #fff;
 }
 
 .contacts li a{
      padding: 0;
      margin: 0;
 }
 
 .contacts li a:hover{
     opacity: 0.7;
 }
 