body {
    width: 100%;  
    margin: 0;
    padding: 0;     
    min-width: 320px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #110303;
    background-color: rgb(134, 7, 7);
}

/* HEADER*/
header{
	position: fixed;
	width: 100%;
    background: rgba(7, 7, 7, 0.3);    
}

.main-top{
    margin:0 auto; 
}

.logo{
    padding: 5px 0 5px 40px;
    float:left;
    margin: 0;
    align-items: center;
}

.menu{
    margin-top: 30px;
    float:right;
    padding-right: 80px;
	min-height:100%; 
    margin: 0;
    margin-top: 13px;
}

.menu li{
	float:left; 
	margin-right:50px; 
	font-size:1.5em; 
    list-style-type: none;
}

.menu li a{
	text-decoration:none;
    color: aqua; 
    font-weight: 600;
}

.menu li a:hover{
	color:#eb0524;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}
/* MAIN */

.content{
    padding: 10px; 
 }
 
 .cutaway{
     position: fixed;
     top: 66px;
     width: 18%;  
     float: left;          
     border: 3px solid #09a010;
     border-radius: 6px;
     box-shadow: #fff;
 }
 
 .author img{
     width: 100%;
 }
 
 .author h1{
     margin: 15px auto;
     text-align: center;
     color:goldenrod;
 }
 
 .contacts h2{
     margin: 15px auto;
     text-align: center;
     color: gold;
 }
 
 .contacts li{
     list-style-type: none;
     float: left;
     margin-right: 25px;
     margin-bottom: 10px;
     border: 2px solid #f7f7f7;
     background-color: #fff;
 }
 
 .contacts li a{
      padding: 0;
      margin: 0;
 }
 
 .contacts li a:hover{
     opacity: 0.7;
 }

 .wrapper{
    width: 80%;
    float: right;
    top: 65px;
    margin: 60px auto 0 auto;
   
 }

article h3{
    text-align: center;
    text-transform: uppercase;
    color: rgb(214, 214, 6);
    padding-bottom: 5px;
    margin: 40px auto 15px auto;
    border-bottom: 2px solid rgb(8, 139, 96);
}

article p{
    color:rgba(56, 247, 215, 0.747);
    padding: 2px 5px;
}

article p span{ 
    text-transform: uppercase;
    font-weight: 700;
    color:darkkhaki
}

article ul li{
    list-style-image: url(images/yes.png);
    margin-bottom: 3px;
    color: gainsboro;
}

article ol li{
    margin-bottom: 3px;
    color: gainsboro;
}
    
article pre{
    background-color: darkcyan;
    color: #f7f7f7;
    width: 70%;
    margin: 10px auto;
    display: table;
    align-items: center;
}

.slideShow {
    width: 46%;
    float: left; 
    margin-right: 15px;
}

.slideShow a{
    text-decoration: none;
    color: darkkhaki;
}

.slideShow a:hover{
    color: darkseagreen;
    border-bottom: 1px dotted blanchedalmond;
}

.slideShow img{
  width: 100%;
  margin-bottom: 115px;
}

.slideShow img:hover{
    opacity: 0.8;
    width: 99%;
    margin-top: 1%;
}

.year{
    background-color: brown;
    margin-top: 20px;
    padding: 3px 20px;
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: 10px 5px 5px rgb(255, 145, 0);
}

.year h4{
    color: darkorange;
    text-align: center;
    text-shadow: #eb0524;
    font-size: 1.1em;
    font-weight: 600;
}

.year a{
    text-decoration: none;
    color: darkkhaki
}

.year a:hover{
    text-shadow: 1px 1px 1px #0af163;
}
/* FOOTER*/
.foot{
    position: fixed;
    bottom:  0;
    left: 0;    
    background: rgba(104, 98, 98, 0.9);
    width: 100%;
    height: 9%;
}

.bottom{
    float: left;
    margin-left: 20px;
    margin-right:  39%;
    align-items: center;
}
.bottom:last-child{
    margin-right:  2%;
}
.bottom img{
    width: 60px;
    margin-top: 10px;
}
.bottom span{
    margin-top: 25px;
    color: aqua;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}
.logo-rs{
    margin-top: 15px;
} 